doctype html
html
  head
    title
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.js', type='text/javascript', charset='utf-8')
    script(src="http://code.jquery.com/jquery-2.1.1.min.js")
    script(src='dist/floatHorizontalScroll.js')
    script(src='main.js')
  


body(ng-app='demo')
  div(style="width: 200px; overflow: auto;" float-horizontal-scroll)
    table
      thead
        tr
          th First
          th Second
          th Third
          th Fourth
          th Fifth
          th Sixth
          th Seventh
          th Eighth
          th Ninth
          th Tenth
      tbody
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth
        tr
          td First
          td Second
          td Third
          td Fourth
          td Fifth
          td Sixth
          td Seventh
          td Eighth
          td Ninth
          td Tenth



